# ===========================
# Global ignore
# ===========================
__pycache__/
*.pyc
*.pyo
*.log
*.DS_Store
*.ipynb_checkpoints/
.vscode/
.env/
.venv/
*.mat
*.csv
*.h5
*.keras
*.zip
*.tar
*.gz

# ===========================
# Ignore all data
# ===========================
data/raw/*
!data/test_set.mat
!data/training_set.mat
!data/feature_training_set.csv
!data/feature_test_set.csv
!data/.gitkeep

# ===========================
# Ignore deep learning notebook
# ===========================
notebooks/eeg_classification_deep_learning.ipynb
notebooks/old_notebook_eeg.ipynb


